
body.light-theme{
    margin: 0;
    background-color: var(--bg-color-light);
    color: var(--main-font-light);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

a.light-theme {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

.content.light-theme {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}


.nav-bar.light-theme {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.nav-menu.light-theme {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--main-font-light);
}

.nav-item.light-theme {
    display: flex;
    align-items: center;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

svg.light-theme {
    fill: var(--main-font-light);
}

.svg-sun.light-theme {
    fill:  var(--main-font-light);
}

.svg-moon.light-theme {
    fill: var(--main-font-light);
}

.nav-link.light-theme {
    text-decoration: none;
    color: var(--main-font-light);
    transition: 0.7s ease;
    font-family: var(--font);
    font-size: 25px;
}

.nav-link.light-theme:hover {
    color: var(--secondary-font-light);
}

.hamburger.light-theme {
    display: none;
    cursor: pointer;
}

.bar.light-theme {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-font-light);
}


.social-media-icons.light-theme {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 35px;
}


.social-media-icons.light-theme li {
    display: inline;
}


.social-media-icons.light-theme li i:hover {
    font-size: 50px;
    transition-duration: 0.4s;
}

.social-media-icons.light-theme li i{
    font-size: 40px;
}

.about-me.light-theme {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20%;
    padding-left: 15%;
}

.about-bio.light-theme {
    height: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
}

.about-bio.light-theme h1 {
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.about-bio.light-theme p {
    font-size: 1.5em;
    filter: brightness(90%);

}

.about-bio.light-theme a {
    color: var(--secondary-font-light);
    text-decoration: underline;
}

footer.light-theme {
    flex-shrink: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .copyright.light-theme {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-bottom: 5px;
  }

.about-me.light-theme h1 {
    font-size: 3em;
    margin: 10px 0;
}

.about-me.light-theme h2 {
    font-size: 2em;
    margin: 10px 0;
}

.about-me.light-theme h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.fancy-about.light-theme {
    background-image: linear-gradient(45deg, var(--special-text-light), var(--secondary-font-light));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.fancy-me.light-theme {
    background-image: linear-gradient(45deg, var(--secondary-font-light), var(--special-text-light));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


@media screen and (max-width: 580px) {

    .nav-item.light-theme {
        display: flex;
    }
    .hamburger.light-theme {
        display: block;
    }

    .hamburger.light-theme.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.light-theme.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.light-theme.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar.light-theme {
        justify-content: center;
        margin-right: 0;
    }

    .nav-menu.light-theme {
        position: fixed;
        left: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item.light-theme {
        margin: 16px 0;
        justify-content: center;
    }

    .svg-sun.light-theme {
        fill:  var(--main-font-light);
    }
    
    .svg-moon.light-theme{
        fill: var(--main-font-light);
    }


    .nav-menu.light-theme.active {
        left: 0;
        backdrop-filter: blur(7px);
        height: 100vh;;
    }
    .about-me.light-theme {
        padding: 0;
    }
    .about-me.light-theme h1 {
        text-align: center;
    }
    
    .about-me.light-theme h2 {
        text-align: center;
    }
    
    .about-me.light-theme h3 {
        text-align: center;
    }
}

@media screen and (max-width: 290px) {
    .social-media-icons.light-theme {
        flex-wrap: wrap;
        align-items: center;
    }
    .social-media-icons.light-theme li i{
        font-size: 25vw;
    }
    .copyright.light-theme {
        display: none;
    }
}

.skills-item.light-theme {
    color: var(--bg-color-light);
}