
@media screen and (max-width: 580px) {

    .nav-item {
        display: flex;
    }
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar {
        justify-content: center;
        margin-right: 0;
    }

    .nav-bar-play {
        display: none;
    }

    .nav-menu {
        position: fixed;
        left: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
        justify-content: center;
    }

    #playbutton {
        display: flex;
        padding-top: 0;
    }

    #svgNav {
        padding-bottom: 0;
    }

    .svg-sun {
        fill:  var(--main-font);
    }
    
    .svg-moon{
        fill: var(--main-font-light);
    }


    .nav-menu.active {
        left: 0;
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        height: 100vh;
        z-index: 100;
    }

    .about-me {
        padding: 0;
    }
    .about-me h1 {
        text-align: center;
    }
    
    .about-me h2 {
        text-align: center;
    }
    
    .about-me h3 {
        text-align: center;
    }

    .image-bio {
        flex-direction: column;
    }

    .selfie {
        padding-left: 0px;
        order: -1;
    }

}

@media screen and (max-width: 290px) {
    .social-media-icons {
        flex-wrap: wrap;
        align-items: center;
    }
    .social-media-icons li i{
        font-size: 25vw;
    }
    .copyright {
        display: none;
    }
    .selfie {
        display: none;
    }
    .about-button {
        display: none;
    }
}