
/* The CSS universal selector(*), used to select all items in an HTML file */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    /* for gradient effect  */
    background-color: #0c192c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.main{
    text-align: center;
    width: 90;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}


#welcome-screen{
    font-size: 35px ;
}

#welcome-screen img{
    width: 8%;
}


#div1{
    height: 100%;
    padding: 20%;
} 

/* DIV 2 START  */
#div2{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:  #f8f9fa;;
    color: #0c192c;
}

#wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about{
    width: 70%;
    height: 100%;
    background-color: #f8f9fa;
    float: left;
}


#about-me {
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 20%;
    height: 50%;
    background-color: #0c192c;
    border-radius: 15%;
    color:   #f8f9fa;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#about-me h1{ 
    margin-top: 5%;
}

#about-me h2{
    margin: 1%;
}

#about-me ul{
    list-style: none;
}


#l1 img{
    width: 70%;
}

#l2 img{
    width: 50%;
}
#l3 img{
    width: 32%;
}

#selfie{
    text-align: center;
    width: 20%;
    margin: 0;
    margin-left: 10%;
    margin-top: 8%;
    float: left;
    font-size: 25px;
    font-size: 1.3vw;
}

#selfie p{
    font-size: 1.2vw;
    color: rgb(73, 72, 72);
}

#selfie h3{
    color: rgb(73, 72, 72);
}

#selfie img{
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 50%;
    float: left;
}

#selfie ul{
    list-style: none;
}

#selfie ul li{ 
    display: inline;
}


.button {
    background-color: #0c192c;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15%;
  }

.button:hover {
    background-color: #2abcf1;
    color: white;
  }

#emojis{
    width: 40%;
    height: 60%;
    display: inline-block;
}




/* DIV 2 END  */

#div3{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 200%;
}

#skills{
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

.no-scroll{
    overflow: hidden;
}

.imgContainer{
    float: left;
    padding: 1%;
}


/* DIV 3 END  */
#cs-images{
    height: 100%;
    margin-top: 4%;
}

#skills{
    height: 70%;
    width: 100%;
}

#skills h1{
    font-size: 250%;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row2::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 3%;
  }

  .column2 {
    float: left;
    width: 14.2%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }

  .column2 {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.column2:hover {
    opacity: 0.3;
  }