
body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--main-font);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    background-size: cover;
    
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.nav-menu {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--main-font);
}

.nav-item {
    display: flex;
    align-items: center;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.svg-sun {
    fill:  var(--main-font);
}

.svg-moon {
    fill: var(--main-font-light);
}

.nav-link {
    text-decoration: none;
    color: var(--main-font);
    transition: 0.7s ease;
    font-family: var(--font);
    font-size: 25px;
}

.nav-link:hover {
    color: var(--secondary-font);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-font);
}


.social-media-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 35px;
}


.social-media-icons li {
    display: inline;
}


.social-media-icons li i:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    color: var(--secondary-font);
}

.social-media-icons li i{
    font-size: 40px;
}

.about-me {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20%;
    padding-left: 15%;
}

.about-bio {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: visible;
}

.about-bio h1 {
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.skills {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 5px;
    font-size: 1.5em;
    flex-wrap: wrap;
}


.skills li {
    display: inline;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: bold;
}


.skills li i:hover {
    font-size: 50px;
    transition-duration: 0.4s;
}

.skills li i{
    font-size: 30px;
}

.skills-h1 {
    border-bottom: none;
}

.about-bio-h1 {
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.about-bio p {
    font-size: 1.5em;
    filter: brightness(90%);

}

.about-link {
    color: var(--secondary-font);
    text-decoration: underline;
}

footer {
    flex-shrink: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-bottom: 5px;
  }

.about-me h1 {
    font-size: 3em;
    margin: 10px 0;
}

.about-me h2 {
    font-size: 2em;
    margin: 10px 0;
}

.about-me h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.fancy-about {
    background-image: linear-gradient(45deg, var(--special-text), var(--secondary-font));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.fancy-about:hover, .fancy-me:hover {
    filter: invert(1);
}

.fancy-me {
    background-image: linear-gradient(45deg, var(--secondary-font), var(--special-text));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.skills-item  {
    padding: 3px 14px;
    border-radius: 7px;
    background-color: var(--secondary-font);
}

.skills-item:hover {
    transition: 0.3s;
    background-color: var(--special-text);
}

.selfie {
    width: 250px;
    border-radius: 25%;
    padding-left: 20px;
}

.image-bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.about-button {
    background-color: transparent;
    border: none;
    color: var(--main-font);
    font-family: inherit;
    font-size: inherit;
    padding: 15px;
    border-radius: 20%;

}

.about-button:hover {
    text-decoration:underline;
}

.nav-bar-play {
    fill: var(--main-font);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-bar-svg {
    fill: var(--main-font);
}

.nav-bar-play-mobile {
    fill: var(--main-font);
}


#playbutton {
    display: none;
}
