

:root {
    --font: 'Inter', sans-serif;

    --bg-color: #1b1c1f;
    --bg-term:  #131417;
    --main-font: #f7ffff;
    --secondary-font: #f99538;
    --special-text: #3845f9;

    /* --bg-color-light: #ffffff;
    --main-font-light: #5f4b9c;
    --secondary-font-light: #ff507e;
    --special-text-light: #ce52ce; */
    --bg-color-light: #FFFAFF;
    --main-font-light: #0A2463;
    --secondary-font-light: #D8315B;
    --special-text-light: #3E92CC;
}
